In [1]:
import pandas as pd
import numpy as np
from configparser import ConfigParser
from io import StringIO
from azure.storage.blob import BlobServiceClient

Ingest data

In [4]:
parser = ConfigParser()
parser.read('blob_access.ini')

service = BlobServiceClient.from_connection_string(parser.get('key','connection_uri'))
blob = service.get_blob_client('ddrs11', parser.get('key','transaction'))

with open("transaction.csv", "wb") as f:
    data = blob.download_blob()

 df = pd.read_csv(StringIO(data.content_as_text()))

Drop Columns with Similar Meaning and Handle Null values

In [4]:
df_preprocess = df
df_preprocess = df_preprocess.drop(columns = ['collectedamount','newcreditcardflag','visitstatusname','reservationtype','productgroupid','primarywebgenre'],axis=1)
df_preprocess['boxofficerevenueamount'].fillna(df_preprocess['boxofficerevenueamount'].median(), inplace=True)
df_preprocess

,customerentitykey,rentdatekey,rentaldate,transactionid,title_id,kioskclient_id,device,boxofficerevenueamount,primarykioskgenre,movierating,...,creditamount,declinedcreditamount,declinedamount,netrevenue,earnedrevenue,redemptionpoints,redemptionamount,declinedredemptionamount,initialnightcharges,promotioncode
0,362955847,20180407,2018-04-07 19:10:32.493,4219760397,302864,54818,Unknown,17200000.0,Drama,NR,...,0.0,0.0,0.0,1.75,1.75,0.0,0.0,0.0,1.75,7VQU58D9
1,345276985,20180209,2018-02-09 18:55:27.99,4176126052,303362,39064,Unknown,64700000.0,Comedy,R,...,0.0,0.0,0.0,3.00,3.00,0.0,0.0,0.0,1.50,Unknown
2,9505277,20180427,2018-04-27 13:33:00.443,4231565538,304523,68379,Unknown,10700000.0,Drama,R,...,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,1.75,FZ9F757X
3,324189863,20180326,2018-03-26 22:47:48.277,4210325404,300109,72598,Android,75300000.0,Drama,R,...,0.0,0.0,0.0,1.25,1.25,0.0,0.0,0.0,1.50,MARCHMADNESS
4,150519281,20180408,2018-04-08 16:12:28.133,4220535954,303380,10164,iPhone,13500000.0,Comedy,R,...,0.0,0.0,0.0,1.75,1.75,0.0,0.0,0.0,1.75,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7007130,133670902,20180310,2018-03-10 21:13:11.27,4197369830,403215,49994,Unknown,207200000.0,Kids,PG,...,0.0,0.0,0.0,2.00,2.00,0.0,0.0,0.0,2.00,Unknown
7007131,81027912,20180304,2018-03-04 17:12:39.727,4192733364,300147,32216,Unknown,90900000.0,Action & Adventure,R,...,0.0,0.0,0.0,3.00,3.00,0.0,0.0,0.0,1.50,Unknown
7007132,303164071,20180212,2018-02-12 20:38:07.96,4178533839,300128,15970,Unknown,22400000.0,Horror,PG-13,...,0.0,0.0,0.0,3.00,3.00,0.0,0.0,0.0,1.50,Unknown
7007133,430493888,20180410,2018-04-10 19:57:25.46,4221552641,304558,58927,Unknown,40200000.0,Drama,R,...,0.0,0.0,0.0,1.75,1.75,0.0,0.0,0.0,1.75,Unknown
7007134,52305075,20180414,2018-04-14 18:59:18.147,4224343907,303307,41198,iPhone,24500000.0,Suspense,R,...,0.0,0.0,0.0,0.50,0.50,0.0,0.0,0.0,1.75,SQYZT6C9

Flag Discount Values

In [5]:
#assign bool values in case of availing the promo code or redemption points
def points (row):
    if row['redemptionamount'] == 0.0 :
        return 0
    else:
        return 1
df_preprocess['red_flag'] = df_preprocess.apply (lambda row: points(row), axis=1)

def promo (row):
    if row['promoamount'] == 0.0 :
        return 0
    else:
        return 1
df_preprocess['promo_flag'] = df_preprocess.apply (lambda row: promo(row), axis=1)

def discount_flag (row):
    if (row['promo_flag'] == 1 or row['red_flag'] == 1):
        return 1
    else:
        return 0
df_preprocess['discount_flag'] = df_preprocess.apply (lambda row: discount_flag(row), axis=1)

filtered_data = df_preprocess

Export Filtered Table

In [ ]:
CONNECT_STR = parser.get('key','connection_uri')
CONTAINER_NAME = parser.get('key','container_name')
input_file = filtered_data
output_blob_name = "Cleaned_Transaction_Data.csv"

blob_service_client = BlobServiceClient.from_connection_string(CONNECT_STR)
blob_client = blob_service_client.get_blob_client(container=CONTAINER_NAME, blob=output_blob_name)

# Upload file
with open(input_file, "rb") as data:
    blob_client.upload_blob(data=data)

Customer-Transaction Level Data

In [ ]:
customer_transaction_level = filtered_data

#concatination for level of data 
customer_transaction_level['customer-transaction'] = customer_transaction_level['customerentitykey'].astype(str) + ('-') + customer_transaction_level['transactionid'].astype(str)
customer_transaction_level = customer_transaction_level.drop(['transactionid','customerentitykey'],axis = 1) 
response_1.to_csv('customer_transaction_level')

#save as csv to blob
input_file = customer_transaction_level
output_blob_name = "Customer-Transaction_Level_Data.csv"

blob_service_client = BlobServiceClient.from_connection_string(CONNECT_STR)
blob_client = blob_service_client.get_blob_client(container=CONTAINER_NAME, blob=output_blob_name)

# Upload file
with open(input_file, "rb") as data:
    blob_client.upload_blob(data=data)

File Customer-Transaction_Level_Data.csv Saved Successfully !

Monthly Transaction Table Split

In [8]:
df = filtered_data
df['rentaldate']= pd.to_datetime(df['rentaldate'])

g = df.groupby(pd.Grouper(key='rentaldate', freq='M'))
Monthly_transactions = [group for _,group in g]

Monthly_transactions

[         customerentitykey  rentdatekey              rentaldate  \
 2852585          405856609     20180201 2018-02-01 00:00:12.533
 5532039          436125149     20180201 2018-02-01 00:00:14.997
 6070490          436125149     20180201 2018-02-01 00:00:14.997
 3329487          399781552     20180201 2018-02-01 00:00:36.460
 4282863          399781552     20180201 2018-02-01 00:00:36.460
 ...                    ...          ...                     ...
 3853688            2770332     20180228 2018-02-28 23:59:30.670
 5412348            2770332     20180228 2018-02-28 23:59:30.670
 410482           237926572     20180228 2018-02-28 23:59:33.567
 4664202          269236816     20180228 2018-02-28 23:59:42.380
 5141742          402206916     20180228 2018-02-28 23:59:55.420

          transactionid  title_id  kioskclient_id    device  \
 2852585     4170447901    303271           26320   Unknown
 5532039     4170464334    303224           11297   Unknown
 6070490     4170464334    303350           11297   Unknown
 3329487     4170434288    401817           42193   Unknown
 4282863     4170434288    301818           42193   Unknown
 ...                ...       ...             ...       ...
 3853688     4189593410    402861           64381   Unknown
 5412348     4189593410    403362           64381   Unknown
 410482      4189602426    303362           29129  Computer
 4664202     4189602366    302861           21741   Unknown
 5141742     4189607883    302846           14239   Unknown

          boxofficerevenueamount   primarykioskgenre movierating  ...  \
 2852585                400000.0               Drama           R  ...
 5532039              30300000.0  Action & Adventure       PG-13  ...
 6070490                200000.0              Comedy           R  ...
 3329487              61000000.0    Sci-Fi & Fantasy           R  ...
 4282863              57500000.0              Family          PG  ...
 ...                         ...                 ...         ...  ...
 3853688              82900000.0              Comedy       PG-13  ...
 5412348              64700000.0              Comedy           R  ...
 410482               64700000.0              Comedy           R  ...
 4664202              82900000.0              Comedy       PG-13  ...
 5141742              40200000.0            Suspense           R  ...

         netrevenue  earnedrevenue  redemptionpoints  redemptionamount  \
 2852585       1.50           1.50               0.0               0.0
 5532039       7.50           7.50               0.0               0.0
 6070490       6.00           6.00               0.0               0.0
 3329487       2.00           2.00               0.0               0.0
 4282863       1.50           1.50               0.0               0.0
 ...            ...            ...               ...               ...
 3853688       3.25           3.25               0.0               0.0
 5412348       7.25           7.25               0.0               0.0
 410482        0.00           0.00               0.0               0.0
 4664202       4.00           4.00               0.0               0.0
 5141742       1.50           1.50               0.0               0.0

         declinedredemptionamount initialnightcharges  promotioncode red_flag  \
 2852585                      0.0                 1.5        Unknown        0
 5532039                      0.0                 1.5        Unknown        0
 6070490                      0.0                 1.5        Unknown        0
 3329487                      0.0                 2.0        Unknown        0
 4282863                      0.0                 1.5        Unknown        0
 ...                          ...                 ...            ...      ...
 3853688                      0.0                 2.0       SXNVJ64Y        0
 5412348                      0.0                 2.0       SXNVJ64Y        0
 410482                       0.0                 1.5       K5TJ8H72        0
 4664202                      0.0                 2.0        Unknown        0
 5141742                      0.0                 1.5        Unknown        0

          promo_flag discount_flag
 2852585           0             0
 5532039           0             0
 6070490           0             0
 3329487           0             0
 4282863           0             0
 ...             ...           ...
 3853688           1             1
 5412348           1             1
 410482            1             1
 4664202           0             0
 5141742           0             0

 [2319151 rows x 36 columns],
          customerentitykey  rentdatekey              rentaldate  \
 4286626          415645202     20180301 2018-03-01 00:00:46.540
 1851757          385676590     20180301 2018-03-01 00:01:31.143
 2871408          385676590     20180301 2018-03-01 00:01:31.143
 1679506          398636441     20180301 2018-03-01 00:02:00.033
 2743701          219265376     20180301 2018-03-01 00:02:07.757
 ...                    ...          ...                     ...
 1186287            5922241     20180331 2018-03-31 23:59:32.137
 5794446          323632323     20180331 2018-03-31 23:59:38.427
 1379217          422741698     20180331 2018-03-31 23:59:39.610
 5206915          407492839     20180331 2018-03-31 23:59:42.900
 1864464          407375494     20180331 2018-03-31 23:59:58.393

          transactionid  title_id  kioskclient_id   device  \
 4286626     4189593658    304099           52710  Unknown
 1851757     4189607972    303387           75112  Unknown
 2871408     4189607972    300589           75112  Unknown
 1679506     4189593908    302836           54047  Unknown
 2743701     4189610710    303215           34623  Unknown
 ...                ...       ...             ...      ...
 1186287     4214490262    302770           75177  Unknown
 5794446     4214521244    402842           64126  Unknown
 1379217     4214543756    302770           68374  Unknown
 5206915     4214543761    300276           61167  Unknown
 1864464     4214490623    403216           25148  Unknown

          boxofficerevenueamount   primarykioskgenre movierating  ...  \
 4286626               5500000.0  Action & Adventure       PG-13  ...
 1851757              40200000.0            Suspense           R  ...
 2871408              17700000.0  Action & Adventure       PG-13  ...
 1679506               6700000.0            Suspense           R  ...
 2743701             207200000.0                Kids          PG  ...
 ...                         ...                 ...         ...  ...
 1186287             228100000.0  Action & Adventure       PG-13  ...
 5794446              75100000.0              Family          PG  ...
 1379217             228100000.0  Action & Adventure       PG-13  ...
 5206915             169700000.0  Action & Adventure       PG-13  ...
 1864464             618100000.0    Sci-Fi & Fantasy       PG-13  ...

         netrevenue  earnedrevenue  redemptionpoints  redemptionamount  \
 4286626       1.50           1.50               0.0               0.0
 1851757       1.50           1.50               0.0               0.0
 2871408       1.50           1.50               0.0               0.0
 1679506       1.60           1.60               0.0               0.0
 2743701       1.50           1.50               0.0               0.0
 ...            ...            ...               ...               ...
 1186287       3.50           3.50               0.0               0.0
 5794446       2.75           2.75               0.0               0.0
 1379217       5.25           5.25               0.0               0.0
 5206915      12.25          12.25               0.0               0.0
 1864464      26.00          26.00               0.0               0.0

         declinedredemptionamount initialnightcharges  promotioncode red_flag  \
 4286626                      0.0                1.50        Unknown        0
 1851757                      0.0                1.50        Unknown        0
 2871408                      0.0                1.50        Unknown        0
 1679506                      0.0                1.60        Unknown        0
 2743701                      0.0                1.50        Unknown        0
 ...                          ...                 ...            ...      ...
 1186287                      0.0                1.75        Unknown        0
 5794446                      0.0                2.00       6YZMRGE2        0
 1379217                      0.0                1.75        Unknown        0
 5206915                      0.0                1.75        Unknown        0
 1864464                      0.0                2.00        Unknown        0

          promo_flag discount_flag
 4286626           0             0
 1851757           0             0
 2871408           0             0
 1679506           0             0
 2743701           0             0
 ...             ...           ...
 1186287           0             0
 5794446           1             1
 1379217           0             0
 5206915           0             0
 1864464           0             0

 [2657489 rows x 36 columns],
          customerentitykey  rentdatekey              rentaldate  \
 2195126          394692737     20180401 2018-04-01 00:00:02.393
 4028008          406663554     20180401 2018-04-01 00:00:06.050
 6553947          431077124     20180401 2018-04-01 00:00:07.077
 2973743          301260783     20180401 2018-04-01 00:00:25.703
 3175626          301260783     20180401 2018-04-01 00:00:25.703
 ...                    ...          ...                     ...
 6143665          433035811     20180430 2018-04-30 23:57:32.123
 2999450          422056147     20180430 2018-04-30 23:58:13.957
 6343154          422056147     20180430 2018-04-30 23:58:13.957
 2301748          406643671     20180430 2018-04-30 23:59:28.627
 3309819          406643671     20180430 2018-04-30 23:59:28.627

          transactionid  title_id  kioskclient_id   device  \
 2195126     4214543796    303214           31317  Unknown
 4028008     4214521429     10519           66023  Unknown
 6553947     4214521436    304553           17129   iPhone
 2973743     4214490962    303380           16318  Unknown
 3175626     4214490962    304059           16318  Unknown
 ...                ...       ...             ...      ...
 6143665     4234592593    400275           50794   iPhone
 2999450     4234613180    304103           37579  Unknown
 6343154     4234613180    304536           37579  Unknown
 2301748     4234592940    304209           20761  Unknown
 3309819     4234592940    303378           20761  Unknown

          boxofficerevenueamount   primarykioskgenre movierating  ...  \
 2195126             277700000.0  Action & Adventure       PG-13  ...
 4028008              40200000.0              Sports         NaN  ...
 6553947              40200000.0              Horror           R  ...
 2973743              13500000.0              Comedy           R  ...
 3175626              40200000.0  Action & Adventure           R  ...
 ...                         ...                 ...         ...  ...
 6143665             318900000.0  Action & Adventure       PG-13  ...
 2999450              40200000.0              Horror           R  ...
 6343154              40200000.0                Kids          PG  ...
 2301748              12000000.0  Action & Adventure           R  ...
 3309819              58800000.0            Suspense       PG-13  ...

         netrevenue  earnedrevenue  redemptionpoints  redemptionamount  \
 2195126       0.00           0.00            1500.0              1.75
 4028008       3.00           3.00               0.0              0.00
 6553947       3.50           3.50               0.0              0.00
 2973743       1.75           1.75               0.0              0.00
 3175626       1.75           1.75               0.0              0.00
 ...            ...            ...               ...               ...
 6143665       4.99           4.99               0.0              0.00
 2999450       1.75           1.75               0.0              0.00
 6343154       1.75           1.75               0.0              0.00
 2301748       1.00           1.00               0.0              0.00
 3309819       1.00           1.00               0.0              0.00

         declinedredemptionamount initialnightcharges  promotioncode red_flag  \
 2195126                      0.0                1.75        Unknown        1
 4028008                      0.0                3.00        Unknown        0
 6553947                      0.0                1.75        Unknown        0
 2973743                      0.0                1.75        Unknown        0
 3175626                      0.0                1.75        Unknown        0
 ...                          ...                 ...            ...      ...
 6143665                      0.0                4.99        Unknown        0
 2999450                      0.0                1.75        Unknown        0
 6343154                      0.0                1.75        Unknown        0
 2301748                      0.0                1.75       HDHTJYZ3        0
 3309819                      0.0                1.75       HDHTJYZ3        0

          promo_flag discount_flag
 2195126           0             1
 4028008           0             0
 6553947           0             0
 2973743           0             0
 3175626           0             0
 ...             ...           ...
 6143665           0             0
 2999450           0             0
 6343154           0             0
 2301748           1             1
 3309819           1             1

 [2030495 rows x 36 columns]]

Export Monthly Transaction Tables

In [22]:
def monthly_split_export(df):
    '''Splits the data on monthly basis.
    
        Input Parameters: 
        Dataframe : Cleaned data
        Dates in datetime format'''
        
    for i in range(len(df)):
        input_file = df[i]
        output_blob_name = 'Transaction_Data_Month_'+ str(i)+'.csv'
        blob_service_client = BlobServiceClient.from_connection_string(CONNECT_STR)
        blob_client = blob_service_client.get_blob_client(container=CONTAINER_NAME, blob=output_blob_name)
        with open(input_file, "rb") as data:
            blob_client.upload_blob(data=data)

monthly_split_export(Monthly_transactions)

File Transaction_Data_Month_0.csv Saved Successfully !
File Transaction_Data_Month_1.csv Saved Successfully !
File Transaction_Data_Month_2.csv Saved Successfully !

Transaction on days of campaign

In [23]:

df_camp = df[(df['rentaldate'] >= pd.datetime(2018, 3, 6)) & (df['rentaldate'] <= pd.datetime(2018, 3, 9))]

input_file = df_camp
output_blob_name = 'Campaign_Data.csv'
blob_service_client = BlobServiceClient.from_connection_string(CONNECT_STR)
blob_client = blob_service_client.get_blob_client(container=CONTAINER_NAME, blob=output_blob_name)
#save as csv
# df_camp.to_csv('transaction_camp.csv')

c:\users\rakshithgkanchan\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:

The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.